figure
{
    margin: 0;
}

.club__container,
.meeting__container
{
    max-width: 120rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.club__image
{
    width: 100%;
    max-width: 15rem;
    margin-bottom: 1rem;
}

.meeting__image
{
    width: 100%;
    max-width: 30rem;
    margin-bottom: 1rem;
}

.club__text-module,
.meeting__text-module
{
    margin: 0 1rem;
}

.text 
{
    margin: 1rem 0;
}

.text:first-of-type
{
    margin-top: 0;
}

.text:last-of-type
{
    margin-bottom: 0;
}

.quote-background
{
    width: 100%;
    max-width: 90rem;
    height: 30rem;
    margin: 1rem auto;
    background-image: linear-gradient(rgba(0,0,0,0.7) 0% 25%,
    transparent 50% 60%,rgba(0,0,0,0.7) 90% 100%), 
        url(images/Chess_Palma.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.quote-text,
.quote-origin
{
    font-family: 'Noto Serif', serif;
    font-size: 1.5rem;
    color: white;
    margin: 0;
    position: absolute;
}

.quote-text
{
    width: 90%;
    top: 5%;
    left: 5%
}

.quote-origin
{
    bottom: 5%;
    right: 5%;
}

@media (min-width: 40rem)
{
    .club__container
    {
        flex-direction: row;
    }

    .club__image
    {
        width: 15rem;
        max-width: none;
        margin-left: 1rem;
        margin-bottom: 0;
    }
}

@media (min-width: 45rem)
{
    .quote-background
    {
        background-image: linear-gradient(rgba(0,0,0,0.7) 0% 10%,
        transparent 40% 60%,rgba(0,0,0,0.7) 90% 100%), 
            url(images/Chess_Palma.jpg);
    }
}

@media (min-width: 60rem)
{
    .meeting__container
    {
        flex-direction: row;
        justify-content: right;
    }

    .meeting__image
    {
        width: 30rem;
        max-width: none;
        margin-right: 1rem;
        margin-bottom: 0;
        order: 1;
    }

    .meeting__text-module
    {
        text-align: right;
    }
}

@media (min-width: 75rem)
{
    .quote-background
    {
        height: 50vh;
    }
}