@font-face
{
    font-family: 'Noto Sans';
    src: url(fonts/Noto_Sans.ttf);
}

@font-face
{
    font-family: 'Noto Serif';
    src: url(fonts/Noto_Serif.ttf);
}

@font-face
{
    font-family: 'Goldman Bold';
    src: url(fonts/Goldman-Bold.ttf);
}

body
{
    font-family: 'Noto Sans';
    line-height: 1.5;
    margin: 0;
}

.backdrop
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 100;
}

.toggle-button
{
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.toggle-button__bar
{
    width: 100%;
    height: 0.2rem;
    /* background-color: #f1b300; */
    display: block;
    margin: 0.6rem 0;
}

.desktop-nav
{
    display: none;
}

.desktop-nav__items
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.desktop-nav__item,
.desktop-nav__item-club,
.desktop-nav__item-discord,
.desktop-nav__item-instagram
{
    display: inline-block;
    margin: 1.1rem 0.5rem;
}

.desktop-nav__item a,
.desktop-nav__item-club a,
.desktop-nav__item-discord a,
.desktop-nav__item-instagram a
{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}
.desktop-nav__item a
{
    color: #f1b300;
}

.desktop-nav__item a:hover,
.desktop-nav__item a:active
{
    text-decoration: underline;
    color: white;
}

.desktop-nav__item-club a,
.desktop-nav__item-discord a,
.desktop-nav__item-instagram a
{
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.desktop-nav__item-club a
{
    background-color: #1972d2;
}

.desktop-nav__item-club a:hover,
.desktop-nav__item-club a:active
{
    background-color: white;
    color: #1972d2;
}

.desktop-nav__item-discord a
{
    background-color: #7289DA;
}

.desktop-nav__item-discord a:hover,
.desktop-nav__item-discord a:active
{
    background-color: white;
    color: #7289DA;
}

.desktop-nav__item-instagram a
{
    background-color: #833AB4;
}

.desktop-nav__item-instagram a:hover,
.desktop-nav__item-instagram a:active
{
    background-color: white;
    color: #833AB4;
}

.mobile-nav
{
    display: none;
    position: fixed;
    z-index: 201;
    top: 0;
    left: 0;
    width: 80%;
    min-width: 12rem;
    height: 100vh;
}

.mobile-nav__items
{
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
}

.mobile-nav__item,
.mobile-nav__item-club,
.mobile-nav__item-discord,
.mobile-nav__item-instagram
{
    margin: 2rem 0;
}

.mobile-nav__item a,
.mobile-nav__item-club a,
.mobile-nav__item-discord a,
.mobile-nav__item-instagram a
{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.mobile-nav__item a
{
    color: #f1b300;
}

.mobile-nav__item a:hover,
.mobile-nav__item a:active
{
    text-decoration: underline;
    color: white;
}

.mobile-nav__item-club a,
.mobile-nav__item-discord a,
.mobile-nav__item-instagram a
{
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.mobile-nav__item-club a
{
    background-color: #1972d2;
}

.mobile-nav__item-club a:hover,
.mobile-nav__item-club a:active
{
    background-color: white;
    color: #1972d2;
}

.mobile-nav__item-discord a
{
    background-color: #7289DA;
}

.mobile-nav__item-discord a:hover,
.mobile-nav__item-discord a:active
{
    background-color: white;
    color: #7289DA;
}

.mobile-nav__item-instagram a
{
    background-color: #833AB4;
}

.mobile-nav__item-instagram a:hover,
.mobile-nav__item-instagram a:active
{
    background-color: white;
    color: #833AB4;
}

main
{
    z-index: 0;
    min-height: calc(100vh - 11rem - 4rem);
}

.title
{
    font-family: 'Goldman Bold';
    font-size: 3rem;
    color: #f1b300;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.subtitle
{
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin: 1rem 0;
}

footer
{
    margin-top: 1rem;
    height: 10rem;
    position: relative;
    z-index: 99;
}

.footer-note
{
    font-size: 1rem;
    color: #f1b300;
    margin: 0;
    width: 94%;
    position: absolute;
    top: 40%;
    left: 3%;
}

@media (min-width: 50rem)
{
    header
    {
        padding: 0 1rem;
    }

    .desktop-nav
    {
        display: inline-block;
        text-align: left;
        width: calc(100% - 3.5rem);
        vertical-align: middle;
    }

    .toggle-button
    {
        display: none;
    }
}

.true-blue
{
    background-color: #003466;
}

.gold
{
    background-color: #f1b300;
}

.monsoon
{
    background-color: #c3b8b2;
}

.sunset
{
    background-color: #f68300;
}

.summer-shade
{
    background-color: #007a33;
}

.red-rock
{
    background-color: #cf4527;
}

.supai
{
    background-color: #00adb5;
}

.twilight
{
    background-color: #0066b2;
}

.white
{
    background-color: white;
}

.open
{
    display: block !important;
}
