@font-face
{
    font-family: 'Noto Sans';
    font-weight: normal;
    src: url(fonts/NotoSans-Regular.woff2);
}

@font-face
{
    font-family: 'Noto Sans';
    font-weight: bold;
    src: url(fonts/NotoSans-Bold.woff2);
}

@font-face
{
    font-family: 'Noto Serif';
    font-weight: normal;
    src: url(fonts/NotoSerif-Regular.woff2);
}

@font-face
{
    font-family: 'Goldman Bold';
    font-weight: bold;
    src: url(fonts/Goldman-Bold.woff2);
}

:root
{
    --trueBlue: #003466;
    --gold: #f1b300;
    --monsoon: #c3b8b2;
    --sunset: #f68300;
    --summerShade: #007a33;
    --redRock: #cf4527;
    --supai: #00adb5;
    --twilight: #0066b2;
    --white: white;
    --club: #1972d2;
    --instagram: #833ab4;
    --discord: #7289da;
    --darkGreen: #013220;
}

body
{
    font-family: 'Noto Sans';
    line-height: 1.5;
    margin: 0;
}

.backdrop
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 200;
}

header
{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 1rem;
    z-index: 100;
    background-color: var(--trueBlue);
}

.toggle-button
{
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.toggle-button__bar
{
    width: 100%;
    height: 0.2rem;
    display: block;
    margin: 0.6rem 0;
    background-color: var(--gold);
}

.desktop-nav
{
    display: none;
}

.desktop
{
    margin: 0 0.5rem;
}

.mobile-nav__background
{
    display: none;
    position: fixed;
    z-index: 201;
    top: 0;
    left: 0;
    width: 80%;
    min-width: 12rem;
    height: 100vh;
    background-color: var(--trueBlue);
}

.mobile-nav
{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.mobile
{
    margin: 1rem 0;
}

.nav__item a,
.nav__item-club a,
.nav__item-discord a,
.nav__item-instagram a
{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav__item a
{
    color: var(--gold);
}

.nav__item a:hover,
.nav__item a:active
{
    text-decoration: underline;
    color: var(--white);
}

.nav__item-club a,
.nav__item-discord a,
.nav__item-instagram a
{
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.nav__item-club a
{
    background-color: var(--club);
}

.nav__item-club a:hover,
.nav__item-club a:active
{
    background-color: var(--white);
    color: var(--club);
}

.nav__item-discord a
{
    background-color: var(--discord);
}

.nav__item-discord a:hover,
.nav__item-discord a:active
{
    background-color: var(--white);
    color: var(--club);
}

.nav__item-instagram a
{
    background-color: var(--instagram);
}

.nav__item-instagram a:hover,
.nav__item-instagram a:active
{
    background-color: var(--white);
    color: var(--instagram);
}

main
{
    z-index: 0;
    min-height: calc(100vh - 11rem - 4rem);
}

.title
{
    font-family: 'Goldman Bold';
    font-size: 3rem;
    color: var(--gold);
    background-color: var(--trueBlue);
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.subtitle
{
    font-size: 2.5rem;
    color: var(--white);
    text-align: center;
    margin: 1rem 0;
}

footer
{
    margin-top: 1rem;
    height: 10rem;
    position: relative;
    z-index: 99;
    background-color: var(--trueBlue);
}

.footer-note
{
    font-size: 1rem;
    color: var(--gold);
    margin: 0;
    width: 94%;
    position: absolute;
    top: 40%;
    left: 3%;
}

@media (min-width: 50rem)
{
    .desktop-nav
    {
        display: flex;
        justify-content: left;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .toggle-button
    {
        display: none;
    }
}

.open
{
    display: block !important;
}