h1
{
    background-color: #003466;
    color: #f1b300;
    font-size: 48px;
    font-family: monospace;
    padding: 20px;
    text-align: center;
}

h2
{
    font-size: 36px;
    font-family: sans-serif;
    padding: 10px;
}

p, a, table
{
    font-size: 24px;
    font-family: sans-serif;
}

.image-container
{
    text-align: center;
}

table, th, td
{
    border: 1px solid;
    width: 50%;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}

#about
{
    background-color: #003466;
    color: white;
}
#meeting
{
    background-color: #f1b300;
    color: white;
}
#partners
{
    background-color: #00adb5;
    color: white;
}
#officers
{
    background-color: #f47722;
    color: white;
}

#quote
{
    background-color: #00853f;
    color: white;
}