body
{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

header
{
    background-color: #003466;
}

h1
{
    font-size: 72px;
    text-align: center;
    color: #f1b300;
    background-color: #003466;
    padding: 20px;
    margin: 0;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    display: inline;
    margin: 0 16px;
    color: white;
}

li a
{
    font-size: 36px;
    color: #f1b300;
}

li a:hover
{
    color: white;
}

li a:active
{
    color: white;
}

h2
{
    font-size: 54px;
    text-align: center;
    color: white;
    padding: 10px;
    margin: 15px 0;
}

p
{
    font-size: 36px;
}

table
{
    font-size: 36px;
    border-collapse: collapse;
    width: 60%;
    margin: auto;
}

th, td
{
    text-align: center;
    padding: 15px;
}

tr:nth-child(even)
{
    background-color: #c3b8b2;
}

thead
{
    color: #f1b300;
    background-color: #003466;
}

div
{
    margin: 0 15px;
}

.container
{
    display: flex;
    grid-template-columns: auto;
}

.items
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#about
{
    background-color: #00853f;
}

#meetings
{
    background-color: #00adb5;
}

#partners
{
    background-color: #0066b2;
}

#officers
{
    background-color: #f47722;
}

#quote
{
    background-color: #da411c;
}

#upcoming-events
{
    background-color: #c3b8b2;
}