.meeting__image-module
{
    vertical-align: middle;
    width: 100%;
}

.meeting__image
{
    display: block;
    margin: auto;
    width: 100%;
    max-width: 40rem;
}

.notes__list
{
    display: none;
    margin: auto;
    width: 100%;
    max-width: 50rem;
}

.notes__item
{
    font-size: 1rem;
}

.events__table
{
    border-collapse: collapse;
    margin: 1rem auto;
    width: 100%;
    max-width: 100rem;
}

.events__header-date,
.events__header-name,
.events__header-location,
.events__main-date,
.events__main-name,
.events__main-location
{
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0.5rem;
}

.events__header-date,
.events__header-name,
.events__header-location
{
    font-weight: bold;
    color: #003466;
}

.events__main-date,
.events__main-name,
.events__main-location
{
    font-weight: normal;
}

.events__main-location,
.events__header-location
{
    display: none;
}

@media (min-width: 50rem)
{
    .events__main-location,
    .events__header-location
    {
        display: table-cell;
    }
}
